<br>
<%= form_for :search, url: events_path,  method: "GET" do |form|%>
  
  <fieldset>
    <legend>Ricerca evento</legend>
    <%= form.label :start_date%>
    <%= form.date_field :start_date, value: ""%>
    <br>
    <%= form.label :start_date%>
    <%= form.date_field :start_date, value: ""%>
    <br>
    <%= form.submit "Search"%>
  </fieldset>
<%end%>
<br>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Place</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% events.each do |event|%>
      <tr>
        <td><%=link_to event.title, event_path(event)%></td>
        <td><%= event.description%></td>
        <%if event.places.first.present?%>
          <td>
          <%event.places.each do |place|%>
            <%= link_to place.name, place_path(place)%>
          <%end%>
          </td>
        <%else%>
          <td> - </td>
        <%end%>
        <td><%= event.start_date%></td>
        <td><%= event.end_date%></td>
        <td><%= link_to 'Edit', edit_event_path(event)%></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <%end%>
  </tbody>
</table>
