
<hr>
<%= form_for :search, url: events_path, method: "GET" do |form|%>
<!--  <#%= form.label :title%>
  <#%= form.text_field :title, value: ""%>
-->
  

  <%= form.label :start_date%>
  <%= form.date_field :start_date, value: ""%>
  <br>
  <%= form.label :start_date%>
  <%= form.date_field :start_date, value: ""%>
  <br>


  <%= form.submit "Search"%>
<%end%>
<hr>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
    <% events.each do |event|%>
      <tr>
        <td><%= event.title%></td>
        <td><%= event.description%></td>
        <td><%= event.start_date%></td>
        <td><%= event.end_date%></td>
      </tr>
    <%end%>
  </tbody>
</table>
