
<h3><%= @place.name%></h3>

<h5>Indirizzo</h5>

  City: <%=@place.address.city%>
  <br>
  Stree Addess: <%= @place.address.street_address%>
  <br>
  Zip Code: <%= @place.address.zip_code%>
  <br>
  State: <%= @place.address.state%>
  <br>
  Nation: <%= @place.address.nation%>

