<!DOCTYPE html>
<html>
  <head>
    <title>FullCalendarEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to "Home", root_path%></li>
      <li><%= link_to "Events", events_path%></li>
      <li><%= link_to "Places", places_path%></li>
      <li><%= link_to "Calendar", calendar_path%></li>
    </ul>
    <%= yield %>
  </body>
</html>
